{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>My Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/web.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="container">
        <h1 class="my-4">List Buku
        </h1>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form id="book-form">
                <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input type="text" id="search" class="form-control form-control-lg"
                               placeholder="Search book by title...">
                    </div>
                    <div class="col-12 col-md-3">
                        <button type="submit" class="btn btn-block btn-lg btn-primary">Search!</button>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <table id="table"></table>
    </div>
    
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>